.heading{
  font-family: helvetica;
  text-align: center;
}

.buttonclass{
  border-radius: 30px;
  background-color: #00b300;
  color: #ffffff;
  font-family: helvetica;
  border: 2px solid;
  font-size: 105%;
}

button:hover{
  background-color: #008ae6;
  font-size: 120%;
}

a{
  color: #ffffff;
  text-decoration: none;
}
